page-helpline-detail {
	.content-detail{
		width: 100%;
		height: auto;
		background: #6b649f linear-gradient(#13359e, #6b649f) repeat scroll 0 0;
		border-radius: 10px;
		z-index: 99999999;
	}

	.sub-content{
		border-bottom: 1px solid #000000;
		// padding-top: 8px;
		// padding-bottom: 10px;
		padding-right: 0px;
	}

	.img-tag{
		height: 40px;
		width: 40px;
		right: 0;
	}

	.bottom-content {
		// text-align: right;
		// margin-left: calc(50% - 50px);
		// float: right;
	}

	.content-block{
		border-top: none;
		background: #6b649f linear-gradient(#fff, #6b649f) repeat scroll 0 0;
		height: auto;
		overflow: hidden;
		min-height: 10vh;
		.icon {
			position: absolute;
			right: 20px;
			font-size: 25px;
			color: #777;
			margin-top: 1.5em;
		}
		p{
			margin-top: 0px!important;
			text-shadow: 0 1px 0 #fff;
		}

		
	}

	.area-content {
		padding: 10px;
		padding-top: 8px;
		padding-bottom: 10px;
		color: #fff;
		background: #13359e linear-gradient(#476ad0, #1b1c4d) repeat scroll 0 0;
	}
}
